.trend-item1 {
    position: relative;
    overflow: hidden;
}

.trend-image img {
    width: 100%;
    height: auto;
}

.trend-content1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
}

.rating .checked {
    color: orange;
}